<!-- Basic Report - Created by Content Server WebReports  -->
<!-- [LL_REPTAG_USAGE /] -->

[LL_WEBREPORT_FORCEUTF8 /]

[//[LL_WEBREPORT_EXCLUDEHTML /]

[// create the style for alternate row colors using the USERPREF subtag:
<style>
 .userRow1 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW1 /];  } 
 .userRow2 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW2 /];  } 
</style>


[// display the name of the WebReport as the HTML title.
<!--<script>
document.title = "[LL_REPTAG_MYID NODEINFO:NAME /]";
</script>-->


[// display the name of the webreport node
<!--<B>[LL_REPTAG_MYID NODEINFO:NAME /]</B>-->

[// include the function menu for this WebReport (who's dataid is in MYID). 
[//[LL_REPTAG_MYID LLURL:FUNCTIONMENU /]

[// include the up-a-level icon.  
[//[LL_REPTAG_MYID LLURL:UPALEVEL /]<!--<BR><BR>-->



<TABLE border=1>

[/* The COLNAME tags below are used so that this reportview will work
    with any data source.  They will return the first 5 column names of the
    underlying data. */]
<TR>
	<TD>Papá</TD>
	<TD style="width: 30px;">Hijo</TD>
	<TD>Tipo</TD>
	<TD>[LL_REPTAG_COLNAME6 /]</TD>
	<TD>Ver</TD>
	<TD>Ver Contenido</TD>
	<TD>Modificar</TD>
	<TD>Editar Atributos</TD>
	<TD>Agregar Items</TD>
	<TD>Reservar</TD>
	<TD>Borrar Versiones</TD>
	<TD>Borrar</TD>
	<TD>Editar Permisos</TD>
</TR>

[/* 
    ODDEVEN:Browserow1:Browserow2 ensures that the Content Server styles Browserow1 &
    Browserow2 are applied alternately to the table rows 
*/]

[LL_WEBREPORT_STARTROW /]<TR CLASS="[LL_REPTAG_ROWNUM ODDEVEN:userRow1:userRow2 /]" VALIGN="CENTER" NOWRAP ALIGN="LEFT">
	<TD>&nbsp;
		
			[LL_REPTAG_"{'" SETVAR:ruta /]
			
			[LL_REPTAG_1 NODEINFO:PATH REPLACE:":":"','" CONCATVAR:ruta /]

			[LL_REPTAG_"'}" CONCATVAR:ruta /]
			
			[//[LL_REPTAG_!ruta /]
			
			[LL_REPTAG_!ruta LIST:3 /]

	</TD>
	<TD style="color: blue; text-decoration: underline; width: 30px;">=HIPERVINCULO("[LL_REPTAG_URLPREFIXFULL /][LL_REPTAG_1 LLURL:BROWSE /]";"[LL_REPTAG_2 /]")</TD>  
	<TD>&nbsp;

		[LL_WEBREPORT_IF "[LL_REPTAG_4 /]" == "848" /]
			[LL_REPTAG_$bws /]
		[LL_WEBREPORT_ENDIF /]

		[LL_WEBREPORT_IF "[LL_REPTAG_4 /]" == "31066" /]
			[LL_REPTAG_$binder /]
		[LL_WEBREPORT_ENDIF /]

	</TD>
	<TD>&nbsp;[LL_REPTAG_6 /]</TD>

	[LL_REPTAG_7 PERMTOASSOC SETVAR:Permisos /]
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'See' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'SeeContent' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>

	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Modify' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'EditAttr' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Create' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Reserve' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'DeleteVer' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Delete' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'EditPerm' /]" == "TRUE" /]
	[LL_REPTAG_$si /]
	[LL_WEBREPORT_ELSE /]
	[LL_REPTAG_$no /]
	[LL_WEBREPORT_ENDIF /]
	</TD>
</TR>

[LL_WEBREPORT_ENDROW /]</TABLE>