[LL_WEBREPORT_EXCLUDEHTML /]

<select name="inputlabel1" ID="inputlabel1">
<option value=""></OPTION>[LL_WEBREPORT_STARTROW /]<option value="[LL_REPTAG_1 /]">[LL_REPTAG_2 /]</option>
    
[LL_WEBREPORT_ENDROW /]</select>