<!-- Basic Report - Created by Content Server WebReports  -->
<!-- [LL_REPTAG_USAGE /] -->


[// create the style for alternate row colors using the USERPREF subtag:
<style>
 .userRow1 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW1 /];  } 
 .userRow2 { background-color: [LL_REPTAG_USERID USERPREF:COLORS:ROW2 /];  } 

#border
{
	border: 2px solid black;
}

</style>


[// display the name of the WebReport as the HTML title.
<script>
document.title = "[LL_REPTAG_MYID NODEINFO:NAME /]";
</script>	


[// display the name of the webreport node
<B>[LL_REPTAG_MYID NODEINFO:NAME /]</B>

[// include the function menu for this WebReport (who's dataid is in MYID). 
[LL_REPTAG_MYID LLURL:FUNCTIONMENU /]&nbsp;

[// include the up-a-level icon.  
[LL_REPTAG_MYID LLURL:UPALEVEL /]<BR><BR>


<TABLE border="1">

[/* The COLNAME tags below are used so that this reportview will work
    with any data source.  They will return the first 5 column names of the
    underlying data. */]
<TR>
	<TD>[LL_REPTAG_COLNAME2 /]</TD>
	<TD>[LL_REPTAG_COLNAME4 /]</TD>
	<TD>[LL_REPTAG_COLNAME6 /]</TD>
	<TD>Ver</TD>
	<TD>Ver Contenido</TD>
	<TD>Modificar</TD>
	<TD>Editar Atributos</TD>
	<TD>Agregar Items</TD>
	<TD>Reservar</TD>
	<TD>Borrar Versiones</TD>
	<TD>Borrar</TD>
	<TD>Editar Permisos</TD>
</TR>

[/* 
    ODDEVEN:Browserow1:Browserow2 ensures that the Content Server styles Browserow1 &
    Browserow2 are applied alternately to the table rows 
*/]

[LL_WEBREPORT_STARTROW /]<TR CLASS="[LL_REPTAG_ROWNUM ODDEVEN:userRow1:userRow2 /]" VALIGN="CENTER" NOWRAP ALIGN="LEFT">

	<TD>&nbsp;[LL_REPTAG_2 /]</TD>
	<TD>&nbsp;[LL_REPTAG_4 /]</TD>
	<TD>&nbsp;[LL_REPTAG_6 /]</TD>

	[LL_REPTAG_7 PERMTOASSOC SETVAR:Permisos /]	

	[LL_REPTAG_&inputlabel1 SETVAR:detalle /]
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'See' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'SeeContent' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Modify' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'EditAttr' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Create' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Reserve' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'DeleteVer' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'Delete' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	<TD>&nbsp;[LL_WEBREPORT_IF "[LL_REPTAG_!Permisos ASSOC:'EditPerm' /]" == "TRUE" /]
	<input type="checkbox" disabled checked>
	[LL_WEBREPORT_ELSE /]
	<input type="checkbox" disabled>
	[LL_WEBREPORT_ENDIF /]
	</TD>
	
	[//[LL_WEBREPORT_IF "[LL_REPTAG_3 NODEINFO:CHILDCOUNT /]" > "0" /]
		[//[LL_WEBREPORT_SUBWEBREPORT NODEID:[LL_REPTAG_$detalle /] PARM:inputlabel1:[LL_REPTAG_4 /]  /]
	[//[LL_WEBREPORT_ENDIF /]

</TR>

[LL_WEBREPORT_ENDROW /]</TABLE>
<br>

[LL_WEBREPORT_IF "[LL_REPTAG_!detalle /]" != "" /]
	<a href="[LL_REPTAG_URLPREFIXFULL /][LL_REPTAG_$detalle LLURL:REPORT /]&inputlabel1=[LL_REPTAG_!detalle /]">Ver detalle</a>
[LL_WEBREPORT_ENDIF /]


